.employee-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  background-color: black;
  margin: 10px;
  color: white;
  /* justify-content: center; */
  align-content: center;
  justify-content: space-between;
}

.employee-card img {
  height: 80%;
  width: 100%;
  margin: auto;
}
