/* .header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 15px solid black;
}

.header-logo {
  /* width: 30px; */
  width: 5%;
  /* height: 30px; */
  height: 5%;
}
